<h2>Welcome to pwnRaid!</h2>
<div role="text-wrapper">
	<p>
		Welcome to pwnRaid and the setup process! Before you can use this <strong>awesome
		application</strong> we need a few bits of information about you, your guild and want
		you want to achive with pwnRaid. This is required for a lot of features to work and will
		help us customize pwnRaid for you.
	</p>
	<p>Please, contact us at anytime with feedback, bug reports and love letters at <a href="mailto:hello@pwnraid.com">hello@pwnraid.com</a>!</p>
</div>
<form>
	<h2>Guild Information</h2>
	<div role="text-wrapper" class="clearfix">
		<div class="float-left">
			<label>Region</label>
			{{ form_select('regions', 'none', regions) }}
		</div>
		<div class="float-left">
			<label>Realm</label>
			{{ form_input('realms') }}
		</div>
		<div class="float-left">
			<label>Guild Name</label>
			<input type="text" value="">
		</div>
	</div>
	<h2>Database Settings</h2>
	<div role="text-wrapper" class="clearfix">
		<div class="float-left">
			<label>Data Source Name (<a href="javascript:void(0);" class="help" data-help="dsn">What's this?</a>)</label>
			<input type="text" value="">
		</div>
		<div class="float-left">
			<label>Username</label>
			<input type="text" value="">
		</div>
		<div class="float-left">
			<label>Password</label>
			<input type="password" value="">
		</div>
	</div>
	<h2>System Settings</h2>
	<div role="text-wrapper" class="clearfix">
		<div class="float-left">
			<label>Cache Driver (<a href="javascript:void(0);" class=help data-help=cache>What's this?</a>)</label>
			<select>
				<option value=apc>APC</option>
				<option value=file selected>File</option>
				<option value=memcached>Memcached</option>
			</select>
		</div>
		<div class="float-left">
			<label>Session Driver (<a href="javascript:void(0);" class="help" data-help="session">What's this?</a>)</label>
			<select>
				<option value=cookie>Cookie</option>
				<option value=db>Database</option>
				<option value=file selected>File</option>
				<option value=memcached>Memcached</option>
			</select>
		</div>
	</div>
</form>