<div role="text-wrapper">
	<dl>
		<dt>What is Data Source Name?</dt>
		<dd><p>The Data Source Name, or DSN, contains the information required to connect to the database. In general, a DSN consists of the PDO driver name, followed by a colon, followed by the PDO driver-specific connection syntax. If you're lost, the first MySQL example is probably the way to go.</p></dd>
		<dt>MySQL Examples</dt>
		<dd>
			<ul>
				<li>mysql:host=localhost;dbname=pwnraid</li>
				<li>mysql:host=localhost;port=3307;dbname=pwnraid</li>
				<li>mysql:unix_socket=/tmp/mysql.sock;dbname=pwnraid</li>
			</ul>
		</dd>
		<dt>PostgreSQL Examples</dt>
		<dd>
			<ul>
				<li>pgsql:host=localhost;port=5432;dbname=pwnraid</li>
			</ul>
		</dd>
		<dt>SQLite Examples</dt>
		<dd>
			<ul>
				<li>sqlite:/opt/databases/pwnraid.sq3</li>
				<li>sqlite::memory:</li>
				<li>sqlite2:/opt/databases/pwnraid.sq2</li>
			</ul>
		</dd>
	</dl>
</div>